
html,body{
    width: 100%;
    height: 100%;
    background-color: #35c595;
}

ul,li{
    text-decoration: none;
}
/* para todos os itens*/
.card{
    margin-left: 25%;
    width: 50%;
    height:91%;
    background-color: #3ceeb3;
    border-radius: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 8px 8px 10px #4af3bb;
}
.card:hover{
    transform: scale(1.01);
    transition: all 0.6s;
    opacity: 100%;
    text-align: initial;
    border: 1px #000000;
    
  transition: all 0.6s ease-in-out;
}


.navcontainer{
    width: 100%;
    height: 23%;
    background-color: #58d3aa;
    border-radius: 10px 10px 0px 0px;
    display: flex;

}
img{
    margin-top: -25%;
    width: 100%;
    height: 150%;
}
img:hover{
    transform: scale(1.1);
    
  transition: all 0.6s ease-in-out;
}

.topo{
    margin-left: 10%;
    margin-top: 7%;
    letter-spacing: 3px;
    width: 100%;
}
#imgtopo{
    width: 50%;
    align-items: center;
}
#titulo{
    width: 100%;
    font-size: 26px;
    color: #ffffff;
}
#titulo:hover{
    transition: all 0.6s ease-in-out;   
    font-size: 27px;
    color: #f7f3f3;
}



#habilidade{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

p{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
p:hover{
    border: 4px #000000;
    transition: all 0.6s;
    color: #495045 ; 
    font-size: 15px;
    
  transition: all 0.6s ease-in-out;   
}





hr{
    color: black;
}


ul{
    text-decoration: none;
}
.habilidades{
    margin-left: 5%;
    width: 100%;
    display: block;
    text-decoration: none;
    
}
#habilidade:hover{
    transition: all 0.6s;
    color: #495045;
    font-size: 21px;
    
  transition: all 0.6s ease-in-out;
}
.experiencia{
    margin-left: 5%;

}
