
html,body{
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    opacity: 1;
    margin: 0;
    padding: 0;
}
.bodd:hover{
    transition: all 0.6s ease-in-out;
    background: linear-gradient(270deg, #246655, #00ffbd);
    background-size: 400% 400%;
    
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    

}
ul,li{
    text-decoration: none;
}
/* para todos os itens*/

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);

    margin: 0 auto ;
    margin-top: 1rem;
    width: 50%;
    height:100%;
    background-color: #2e2e2e;
    border-radius: 1rem;
    
    
}
.card:hover{
    background-color: #30e0a6;
    transition: all 0.6s;
    opacity: 100%;
    text-align: initial;
    box-shadow: 0em 0em 2rem #00ff95;
    transition: all 0.6s ease-in-out;
}


.navcontainer{
    grid-row: 1;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;

}
img{
    margin-left: 2rem;
    width: 100%;
    height: 80%;
    filter: grayscale(100%);
}
img:hover{
    transform: scale(1.1);
    
    filter: grayscale(0%);
    
  transition: all 0.6s ease-in-out;
}

.topo{
    margin-left: 10%;
    letter-spacing: 0.1em;
}
#imgtopo{
    width: 50%;
    align-items: center;
}
#titulo{
    width: 100%;
    margin-top: 7%;
    font-size: 2em;
    color: #2e2e2e;
}
#titulo:hover{
    transition: all 0.6s ease-in-out;   
    font-size: 2.1em;
    color: #f7f3f3;
    text-shadow: 0px 0px 0.8rem #fffb00;
}

.conteudo{
    grid-row: 2 / -1;
}
.habilidades{
    
    grid-row: 2 / 3;
    width: 100%;
    text-decoration: none;
    

}
#habilidade{
    margin-left: 3rem;
    
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 20px;
    
}
#habilidade:hover{
    transition: all 0.6s;
    color: #f7f3f3;
    text-shadow: 0px 0px 0.8rem #fffb00;
    font-size: 21px;
    
  transition: all 0.6s ease-in-out;
}

p{
    color: #2e2e2e;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5rem;
}
p:hover{
    
    transition: all 0.6s;
    color: #f7f3f3;
    text-shadow: 0px 0px 0.8rem #fffb00;
    font-size: 15px;
    
  transition: all 0.6s ease-in-out;   
}





hr{
    color: black;
}


ul{
    text-decoration: none;
}







@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}